/DWES_25-09/nbproject/private/
/DWES_25-09/build/
/Repaso1-Prueba-30SEPT/nbproject/private/
/Repaso1-Prueba-30SEPT/build/
/Repaso2-Prueba-30SEPT/nbproject/private/
/Repaso2-Prueba-30SEPT/build/
/HolaMundo/nbproject/private/
/HolaMundo/build/
/tema1/nbproject/private/
/Ejercicio2/nbproject/private/
/Ejercicio2/build/
/Ejercicio3/nbproject/private/
/Ejercicio3/build/
/EjercicioJoseCabreraWeb/nbproject/private/
/EjercicioJoseCabreraWeb/build/
/EjercicioJoseCabreraWeb/dist/
/Ejercicio5Consultora/nbproject/private/
/Ejercicio5Consultora/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/ActividadEstraexcolar-PracticaExamen/nbproject/private/
/ActividadEstraexcolar-PracticaExamen/build/
/Consultora-PracticaExamen/nbproject/private/
/Consultora-PracticaExamen/build/
/ReservasHotel/nbproject/private/
/ReservasHotel/build/
/EjercicioCambio/nbproject/private/
/EjercicioCambio/build/
