<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>probando</servlet-name>
        <servlet-class>misejemplos.probando</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCalculadora</servlet-name>
        <servlet-class>misejemplos.servletCalculadora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInfo</servlet-name>
        <servlet-class>misejemplos.ServletInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>probando</servlet-name>
        <url-pattern>/probando</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEnlace</servlet-name>
        <servlet-class>misejemplos.ServletEnlace</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEnlace</servlet-name>
        <url-pattern>/ServletEnlace</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletFormulario1</servlet-name>
        <servlet-class>misejemplos.ServletFormulario1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFormulario1</servlet-name>
        <url-pattern>/ServletFormulario1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCalculadora</servlet-name>
        <url-pattern>/servletCalculadora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInfo</servlet-name>
        <url-pattern>/ServletInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>formularioInfo.html</welcome-file>
    </welcome-file-list>
</web-app>
